// COLORES

$grisnav: #C6CCCC;
$white: white;
$grey: grey;
$bgcolor: #DAE0E0;


$breakpoints: (
    mobile: 540px,
    tablet: 768px,
    desktop: 1024px
);

//MAPAS

$paleta-colores: (
    "principal": $grisnav,
    "secundario": $white,
    "bgcolor": $bgcolor,
)